nav
{
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul
{
  list-style: none;
  display: flex;
  padding: 0;
}

nav ul li
{
  margin: 0 20px 0 20px;
}

nav a
{
  text-decoration: none;
  color: #fff;
}

nav a:hover
{
  text-decoration: underline;
}

.home
{
  width: 700px;
  margin: auto;
  font-family: Arial;
}

.create-note
{
  font-family: Arial;
}

.delete-button
{
  display: flex;
  justify-content: flex-end;
}

.del-button 
{
  background-color: #cc0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 10px;
}

.del-button:hover
{
  background-color: #ff0000;
}

.note-list
{
  list-style: none;
  padding: 0;
}

.note-item
{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-title
{
  font-size: 21px;
}

.note-content
{
  font-size: 16px;
}

.Input
{
  text-align: center;
  margin-bottom: 20px;
}

.note-input
{
  width: 70%;
  height: 30px;
  font-size: 20px;
}

.create-button
{
  padding: 8px 10px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: mediumseagreen;
  color: white;
}

.create-button:hover
{
  background-color: darkseagreen;
}

.create-input
{
  width: 500px;
  height: 30px;
  font-size: 20px;
}

.create-content
{
  width: 580px;
  height: 400px;
  font-size: 20px;
}

.res-button
{
  padding: 8px 10px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: mediumseagreen;
  color: white;
}

.res-button:hover
{
  background-color: darkseagreen;
}